
.DS_Store
build
*.egg-info
dist
output/
data/*
backup
weights/*.weights
weights/*.conv.*
__pycache__
checkpoints/

.vscode/
logs/

.python-version


# ignore .onnx file
*.onnx

# ignore run.sh
run.sh

# ignore coco2014 symlink
coco2014